<a href="https://colab.research.google.com/github/SriLatha999/DataPuzzles.com-Challenge/blob/main/Data_Puzzles_Travel_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Geodesics

* Let's plan our next trip together!
* For this purpose, we have gathered a list of all the world's capital cities according to https://simplemaps.com/data/world-cities

Prerequisites:
* Basic geometry and geography knowledge.
* A bit of programming experience to transform data and think of a solution.

# Part 1: Can you get the two furthest capitals on Earth? (sea level)

In [19]:
import numpy as np
import pandas as pd
from geopy import distance

In [20]:
capitals_df = pd.read_csv('https://raw.githubusercontent.com/hyperc54/data-puzzles-assets/master/features/travel/worldcapitals_light.csv')

In [21]:
capitals_df.head()

          city      lat       lng
0        Tokyo  35.6839  139.7744
1      Jakarta  -6.2146  106.8451
2       Manila  14.6000  120.9833
3        Seoul  37.5600  126.9900
4  Mexico City  19.4333  -99.1333

In [22]:
distances=np.empty([capitals_df.shape[0],capitals_df.shape[0]])

In [23]:
for i in range(capitals_df.shape[0]):
  for j in range(capitals_df.shape[0]):
    distances[i,j]=distance.distance((capitals_df.iloc[i]['lat'],capitals_df.iloc[i]['lng']),(capitals_df.iloc[j]['lat'],capitals_df.iloc[j]['lng'])).km

In [25]:
maxd=np.amax(distances)

In [26]:
maxd

19865.475389507876

In [29]:
mindcies=np.where(distances==maxd)

In [32]:
mindcies

(array([ 79, 244]), array([248, 248]))

In [36]:
a,b=mindcies[0]

In [37]:
a

79

In [40]:
loca=capitals_df.loc[a]
loca

city       Doha
lat        25.3
lng     51.5333
Name: 79, dtype: object

In [41]:
locb=capitals_df.loc[b]

In [42]:
locb

city    Adamstown
lat      -25.0667
lng     -130.0833
Name: 244, dtype: object